# Project: Adiddas Data
###
### Table of Contents
#####        Introduction
#####        Data Cleaning
#####        Exploratory Data Analysis
#####        Machine Learning


###


# Introduction:
An Adidas sales dataset is a collection of data that includes information on the sales of Adidas products. This type of dataset may include details such as the number of units sold, the total sales revenue, the location of the sales, the type of product sold, and any other relevantÂ information.




#



 

##  Analysis of the DataSet (questions that is analyized in the dataset):
  

####    1- What Percentage of Sales and Operating Profit in  Different Region.

####    2- What is the top sales method?

####    3- Top selling products.

####    4- Who are the Top Retailersfor total sales and Operating Profit?

####    5- What aboat sales over month?

####    6- Which Sales Method is the most at every region?

####    7-  Mean of price for each unit of product in each region.

####    8- Price Per Product Distribution.

####    9- Relationship between Operating Profit and city using boxplot.

####    10- Relationship between Region and Price per Unit .

####    11- Top 10 city with highest Total Sales.

####    12- what is total sales for sales method .
##

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
data = pd.read_csv("Adiddas Data.csv")
data.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method
0,Foot Locker,1185732,1/1/2020,Northeast,New York,New York,Men's Street Footwear,$50.00,"1,200","60,000","$30,000",In-store
1,Foot Locker,1185732,1/2/2020,Northeast,New York,New York,Men's Athletic Footwear,$50.00,"1,000","50,000","$15,000",In-store
2,Foot Locker,1185732,1/3/2020,Northeast,New York,New York,Women's Street Footwear,$40.00,"1,000","40,000","$14,000",In-store
3,Foot Locker,1185732,1/4/2020,Northeast,New York,New York,Women's Athletic Footwear,$45.00,850,"38,250","$13,388",In-store
4,Foot Locker,1185732,1/5/2020,Northeast,New York,New York,Men's Apparel,$60.00,900,"54,000","$16,200",In-store

In [3]:
data["Region"].isnull().sum()

7

In [4]:
data["Price per Unit"].unique()

array(['$50.00 ', '$40.00 ', '$45.00 ', '$60.00 ', nan, '$55.00 ',
       '$65.00 ', '$70.00 ', '$25.00 ', '$35.00 ', '$30.00 ', '$80.00 ',
       '$75.00 ', '$20.00 ', '$85.00 ', '$100.00 ', '$90.00 ', '$95.00 ',
       '$15.00 ', '$10.00 ', '$110.00 ', '$105.00 ', '$47.00 ', '$36.00 ',
       '$41.00 ', '$46.00 ', '$44.00 ', '$58.00 ', '$48.00 ', '$39.00 ',
       '$43.00 ', '$59.00 ', '$56.00 ', '$49.00 ', '$54.00 ', '$64.00 ',
       '$53.00 ', '$61.00 ', '$62.00 ', '$68.00 ', '$52.00 ', '$66.00 ',
       '$51.00 ', '$24.00 ', '$34.00 ', '$33.00 ', '$23.00 ', '$32.00 ',
       '$38.00 ', '$29.00 ', '$37.00 ', '$27.00 ', '$42.00 ', '$72.00 ',
       '$63.00 ', '$69.00 ', '$76.00 ', '$67.00 ', '$57.00 ', '$28.00 ',
       '$18.00 ', '$19.00 ', '$71.00 ', '$78.00 ', '$73.00 ', '$74.00 ',
       '$83.00 ', '$82.00 ', '$98.00 ', '$77.00 ', '$88.00 ', '$86.00 ',
       '$14.00 ', '$9.00 ', '$97.00 ', '$81.00 ', '$79.00 ', '$96.00 ',
       '$84.00 ', '$89.00 ', '$103.00 ', '$101.00 ', '$87.00 ', '$92.00 ',
       '$31.00 ', '$26.00 ', '$21.00 ', '$13.00 ', '$22.00 ', '$17.00 ',
       '$12.00 ', '$16.00 ', '$11.00 ', '$7.00 ', '$8.00 '], dtype=object)

In [5]:
data["Price per Unit"] = data["Price per Unit"].str.replace("$","")
data["Price per Unit"]

0       50.00
1       50.00
2       40.00
3       45.00
4       60.00
         ...
9643    50.00
9644    41.00
9645    41.00
9646    42.00
9647    29.00
Name: Price per Unit, Length: 9648, dtype: object

In [6]:
data["Price per Unit"] = data["Price per Unit"].astype("float")
data["Price per Unit"]

0       50.0
1       50.0
2       40.0
3       45.0
4       60.0
        ...
9643    50.0
9644    41.0
9645    41.0
9646    42.0
9647    29.0
Name: Price per Unit, Length: 9648, dtype: float64

In [7]:
data["Price per Unit"] = data["Price per Unit"].fillna(value = data["Price per Unit"].mean())

In [8]:
data.isnull().sum()

Retailer            0
Retailer ID         0
Invoice Date        0
Region              7
State               0
City                0
Product             0
Price per Unit      0
Units Sold          0
Total Sales         0
Operating Profit    0
Sales Method        0
dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Retailer ID       9648 non-null   int64
 2   Invoice Date      9648 non-null   object
 3   Region            9641 non-null   object
 4   State             9648 non-null   object
 5   City              9648 non-null   object
 6   Product           9648 non-null   object
 7   Price per Unit    9648 non-null   float64
 8   Units Sold        9648 non-null   object
 9   Total Sales       9648 non-null   object
 10  Operating Profit  9648 non-null   object
 11  Sales Method      9648 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 904.6+ KB

In [10]:
data.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method
0,Foot Locker,1185732,1/1/2020,Northeast,New York,New York,Men's Street Footwear,50.0,"1,200","60,000","$30,000",In-store
1,Foot Locker,1185732,1/2/2020,Northeast,New York,New York,Men's Athletic Footwear,50.0,"1,000","50,000","$15,000",In-store
2,Foot Locker,1185732,1/3/2020,Northeast,New York,New York,Women's Street Footwear,40.0,"1,000","40,000","$14,000",In-store
3,Foot Locker,1185732,1/4/2020,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,"38,250","$13,388",In-store
4,Foot Locker,1185732,1/5/2020,Northeast,New York,New York,Men's Apparel,60.0,900,"54,000","$16,200",In-store

In [11]:
data["Units Sold"] = data["Units Sold"].str.replace(",","")
data["Units Sold"]

0       1200
1       1000
2       1000
3        850
4        900
        ...
9643      64
9644     105
9645     184
9646      70
9647      83
Name: Units Sold, Length: 9648, dtype: object

In [12]:
data["Units Sold"] = data["Units Sold"].astype("int")
data["Units Sold"]

0       1200
1       1000
2       1000
3        850
4        900
        ...
9643      64
9644     105
9645     184
9646      70
9647      83
Name: Units Sold, Length: 9648, dtype: int32

In [14]:
data["Total Sales"] = data["Total Sales"].str.replace(",","")
data["Total Sales"]

0       60000
1       50000
2       40000
3       38250
4       54000
        ...
9643      320
9644      431
9645      754
9646      294
9647      241
Name: Total Sales, Length: 9648, dtype: object

In [15]:
data["Total Sales"] = data["Total Sales"].astype("int")
data["Total Sales"]

0       60000
1       50000
2       40000
3       38250
4       54000
        ...
9643      320
9644      431
9645      754
9646      294
9647      241
Name: Total Sales, Length: 9648, dtype: int32

In [16]:
data["Operating Profit"] = data["Operating Profit"].str.replace("$","").str.replace(",","")
data["Operating Profit"]

0       30000
1       15000
2       14000
3       13388
4       16200
         ...
9643       90
9644      138
9645      279
9646      123
9647       65
Name: Operating Profit, Length: 9648, dtype: object

In [17]:
data["Operating Profit"] =data["Operating Profit"].astype("int")
data["Operating Profit"]

0       30000
1       15000
2       14000
3       13388
4       16200
        ...
9643       90
9644      138
9645      279
9646      123
9647       65
Name: Operating Profit, Length: 9648, dtype: int32

In [18]:
data["Invoice Date"] = pd.to_datetime(data["Invoice Date"])
data["Invoice Date"]

0      2020-01-01
1      2020-01-02
2      2020-01-03
3      2020-01-04
4      2020-01-05
          ...
9643   2021-01-24
9644   2021-01-24
9645   2021-02-22
9646   2021-02-22
9647   2021-02-22
Name: Invoice Date, Length: 9648, dtype: datetime64[ns]

In [19]:
data.head(4)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,60000,30000,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,50000,15000,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,40000,14000,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,38250,13388,In-store

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Retailer ID       9648 non-null   int64
 2   Invoice Date      9648 non-null   datetime64[ns]
 3   Region            9641 non-null   object
 4   State             9648 non-null   object
 5   City              9648 non-null   object
 6   Product           9648 non-null   object
 7   Price per Unit    9648 non-null   float64
 8   Units Sold        9648 non-null   int32
 9   Total Sales       9648 non-null   int32
 10  Operating Profit  9648 non-null   int32
 11  Sales Method      9648 non-null   object
dtypes: datetime64[ns](1), float64(1), int32(3), int64(1), object(6)
memory usage: 791.6+ KB

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Retailer ID       9648 non-null   int64
 2   Invoice Date      9648 non-null   datetime64[ns]
 3   Region            9641 non-null   object
 4   State             9648 non-null   object
 5   City              9648 non-null   object
 6   Product           9648 non-null   object
 7   Price per Unit    9648 non-null   float64
 8   Units Sold        9648 non-null   int32
 9   Total Sales       9648 non-null   int32
 10  Operating Profit  9648 non-null   int32
 11  Sales Method      9648 non-null   object
dtypes: datetime64[ns](1), float64(1), int32(3), int64(1), object(6)
memory usage: 791.6+ KB

In [22]:
data["Years"] = data["Invoice Date"].dt.year

In [24]:
data["Month"] = data["Invoice Date"].dt.month

In [25]:
data.drop("Invoice Date",axis = 1, inplace = True)

In [26]:
data.drop("Retailer ID",axis = 1, inplace = True)

In [27]:
data.head()

,Retailer,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method,Years,Month
0,Foot Locker,Northeast,New York,New York,Men's Street Footwear,50.0,1200,60000,30000,In-store,2020,1
1,Foot Locker,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,50000,15000,In-store,2020,1
2,Foot Locker,Northeast,New York,New York,Women's Street Footwear,40.0,1000,40000,14000,In-store,2020,1
3,Foot Locker,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,38250,13388,In-store,2020,1
4,Foot Locker,Northeast,New York,New York,Men's Apparel,60.0,900,54000,16200,In-store,2020,1

In [28]:
data["Product"].value_counts()

Product
Men's Street Footwear        1610
Men's Athletic Footwear      1610
Women's Street Footwear      1608
Women's Apparel              1608
Women's Athletic Footwear    1606
Men's Apparel                1605
Men's aparel                    1
Name: count, dtype: int64

In [29]:
data["Product"] = data["Product"].replace("Men's aparel",np.nan)

In [30]:
data =data.dropna()
data.head()

,Retailer,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method,Years,Month
0,Foot Locker,Northeast,New York,New York,Men's Street Footwear,50.0,1200,60000,30000,In-store,2020,1
1,Foot Locker,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,50000,15000,In-store,2020,1
2,Foot Locker,Northeast,New York,New York,Women's Street Footwear,40.0,1000,40000,14000,In-store,2020,1
3,Foot Locker,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,38250,13388,In-store,2020,1
4,Foot Locker,Northeast,New York,New York,Men's Apparel,60.0,900,54000,16200,In-store,2020,1

In [32]:
data.isnull().sum()

Retailer            0
Region              0
State               0
City                0
Product             0
Price per Unit      0
Units Sold          0
Total Sales         0
Operating Profit    0
Sales Method        0
Years               0
Month               0
dtype: int64

In [33]:
data.head(7)

,Retailer,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method,Years,Month
0,Foot Locker,Northeast,New York,New York,Men's Street Footwear,50.0,1200,60000,30000,In-store,2020,1
1,Foot Locker,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,50000,15000,In-store,2020,1
2,Foot Locker,Northeast,New York,New York,Women's Street Footwear,40.0,1000,40000,14000,In-store,2020,1
3,Foot Locker,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,38250,13388,In-store,2020,1
4,Foot Locker,Northeast,New York,New York,Men's Apparel,60.0,900,54000,16200,In-store,2020,1
5,Foot Locker,Northeast,New York,New York,Women's Apparel,50.0,1000,50000,12500,In-store,2020,1
6,Foot Locker,Northeast,New York,New York,Men's Street Footwear,50.0,1250,62500,31250,In-store,2020,1