# Project: Adiddas Data
###
### Table of Contents
#####        Introduction
#####        Data Cleaning
#####        Exploratory Data Analysis
#####        Machine Learning


###


# Introduction:
An Adidas sales dataset is a collection of data that includes information on the sales of Adidas products. This type of dataset may include details such as the number of units sold, the total sales revenue, the location of the sales, the type of product sold, and any other relevantÂ information.




#



 

##  Analysis of the DataSet (questions that is analyized in the dataset):
  

####    1- What Percentage of Sales and Operating Profit in  Different Region.

####    2- What is the top sales method?

####    3- Top selling products.

####    4- Who are the Top Retailersfor total sales and Operating Profit?

####    5- What aboat sales over month?

####    6- Which Sales Method is the most at every region?

####    7-  Mean of price for each unit of product in each region.

####    8- Price Per Product Distribution.

####    9- Relationship between Operating Profit and city using boxplot.

####    10- Relationship between Region and Price per Unit .

####    11- Top 10 city with highest Total Sales.

####    12- what is total sales for sales method .
##

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
data = pd.read_csv("Adiddas Data.csv")
data.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method
0,Foot Locker,1185732,1/1/2020,Northeast,New York,New York,Men's Street Footwear,$50.00,"1,200","60,000","$30,000",In-store
1,Foot Locker,1185732,1/2/2020,Northeast,New York,New York,Men's Athletic Footwear,$50.00,"1,000","50,000","$15,000",In-store
2,Foot Locker,1185732,1/3/2020,Northeast,New York,New York,Women's Street Footwear,$40.00,"1,000","40,000","$14,000",In-store
3,Foot Locker,1185732,1/4/2020,Northeast,New York,New York,Women's Athletic Footwear,$45.00,850,"38,250","$13,388",In-store
4,Foot Locker,1185732,1/5/2020,Northeast,New York,New York,Men's Apparel,$60.00,900,"54,000","$16,200",In-store