# Project: Adiddas Data
###
### Table of Contents
#####        Introduction
#####        Data Cleaning
#####        Exploratory Data Analysis
#####        Machine Learning


###


# Introduction:
An Adidas sales dataset is a collection of data that includes information on the sales of Adidas products. This type of dataset may include details such as the number of units sold, the total sales revenue, the location of the sales, the type of product sold, and any other relevantÂ information.




#



 

##  Analysis of the DataSet (questions that is analyized in the dataset):
  

####    1- What Percentage of Sales and Operating Profit in  Different Region.

####    2- What is the top sales method?

####    3- Top selling products.

####    4- Who are the Top Retailersfor total sales and Operating Profit?

####    5- What aboat sales over month?

####    6- Which Sales Method is the most at every region?

####    7-  Mean of price for each unit of product in each region.

####    8- Price Per Product Distribution.

####    9- Relationship between Operating Profit and city using boxplot.

####    10- Relationship between Region and Price per Unit .

####    11- Top 10 city with highest Total Sales.

####    12- what is total sales for sales method .
##

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
data = pd.read_csv("Adiddas Data.csv")
data.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method
0,Foot Locker,1185732,1/1/2020,Northeast,New York,New York,Men's Street Footwear,$50.00,"1,200","60,000","$30,000",In-store
1,Foot Locker,1185732,1/2/2020,Northeast,New York,New York,Men's Athletic Footwear,$50.00,"1,000","50,000","$15,000",In-store
2,Foot Locker,1185732,1/3/2020,Northeast,New York,New York,Women's Street Footwear,$40.00,"1,000","40,000","$14,000",In-store
3,Foot Locker,1185732,1/4/2020,Northeast,New York,New York,Women's Athletic Footwear,$45.00,850,"38,250","$13,388",In-store
4,Foot Locker,1185732,1/5/2020,Northeast,New York,New York,Men's Apparel,$60.00,900,"54,000","$16,200",In-store

In [15]:
data.isnull().sum()

Retailer            0
Retailer ID         0
Invoice Date        0
Region              0
State               0
City                0
Product             0
Price per Unit      0
Units Sold          0
Total Sales         0
Operating Profit    0
Sales Method        0
dtype: int64

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Retailer ID       9648 non-null   int64
 2   Invoice Date      9648 non-null   object
 3   Region            9648 non-null   object
 4   State             9648 non-null   object
 5   City              9648 non-null   object
 6   Product           9648 non-null   object
 7   Price per Unit    9648 non-null   float64
 8   Units Sold        9648 non-null   object
 9   Total Sales       9648 non-null   object
 10  Operating Profit  9648 non-null   object
 11  Sales Method      9648 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 904.6+ KB

In [17]:
data.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method
0,Foot Locker,1185732,1/1/2020,Northeast,New York,New York,Men's Street Footwear,50.0,"1,200","60,000","$30,000",In-store
1,Foot Locker,1185732,1/2/2020,Northeast,New York,New York,Men's Athletic Footwear,50.0,"1,000","50,000","$15,000",In-store
2,Foot Locker,1185732,1/3/2020,Northeast,New York,New York,Women's Street Footwear,40.0,"1,000","40,000","$14,000",In-store
3,Foot Locker,1185732,1/4/2020,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,"38,250","$13,388",In-store
4,Foot Locker,1185732,1/5/2020,Northeast,New York,New York,Men's Apparel,60.0,900,"54,000","$16,200",In-store

In [18]:
data["Units Sold"] = data["Units Sold"].str.replace(",","")
data["Units Sold"]

0       1200
1       1000
2       1000
3        850
4        900
        ...
9643      64
9644     105
9645     184
9646      70
9647      83
Name: Units Sold, Length: 9648, dtype: object

In [19]:
data["Units Sold"] = data["Units Sold"].astype("int")
data["Units Sold"]

0       1200
1       1000
2       1000
3        850
4        900
        ...
9643      64
9644     105
9645     184
9646      70
9647      83
Name: Units Sold, Length: 9648, dtype: int32